* {
    
    margin: 0;
    padding: 0;
    text-align: center;
    
}
html, body {
    height: 100%; /*largura inteira de página*/
}
body {
    display: flex;
    flex-direction: column;
}
.cabecalho {
    
    color: white;
    padding: 30px;
    text-align: center;
}
.conteudo {
    flex: 1 0 auto;
}

.logo-pagina-login {
    width: 250px;
    margin-left: +1150px
}
.logo-conta-criada-com-sucesso {
    width: 220px;
}
.botao-voltar-ao-menu-inicial {
    background-color: #000000;
    color: white;
    padding: 5px 30px;
}
.botao-voltar-ao-menu-inicial:hover{
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.politica-de-privacidade {
    width: 40px; 
    height: 40px;
    color: white;
    text-align: left;
    font-size: 20px;
    display: inline-flex;
    margin-left: +600px;
    
}
.termos-de-condicoes {
    color: white;
    font-size: 25px;
    display: inline-flex;
    margin-left: +800px;
    
}
.copyright {
    color: white;
    font-size: 20px;
    margin: 20px 0 0;
    margin-left: -750px;
}
.rodape {
    flex-shrink: 0;
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}
