* {
    
    margin: 0;
    padding: 0;
    text-align: center;
    
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.cabecalho {
    
    color: white;
    padding: 30px;
    text-align: center;
}
.conteudo {
    flex: 1 0 auto;
}
.logo {
    width: 70px;
    height: 70px;
    margin-left: -1300px;
 }
 
 nav li {
     
     display: inline;
     margin:0 0 0 15px;
  
 }
 
 nav {
     text-transform:uppercase;
     color: black;
     font-weight: bold;
     font-size: 20px;
     margin-left: +875px;
 }
 .decoracao-menu-nav {
     text-decoration: none;
     color: #000000;
 }
 .hover-nav :hover{
     color:rgb(136, 130, 130);
     text-decoration: none;
     
 }
 
 .container1 {
     color: white;
     background-color: #000000;
     display: flex;
 }
 
 .modelos {
     width: 1220px;
     height: 600px;
    
 }
 
 
 .produtos-masculinos li {
    display:inline-block;
    text-align: center;
    width: 13%;
    font-size: 18px;
    text-align: left; 
    
      
}
 .botao {
     font-size: 25px;
     background-color: white;
     margin-left: +105px;
     
 
 }
 .botao:hover {
    
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
 
.rodape {
    flex-shrink: 0;
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}
 .politica-de-privacidade {
     color: white;
     text-align: left;
     font-size: 25px;
     display: inline-flex;
     margin-left: +550px;
 }
 .termos-de-condicoes {
     color: white;
     font-size: 25px;
     display: inline-flex;
     margin-left: +550px;
     
 }
 .copyright {
     color: white;
     font-size: 20px;
     margin: 20px 0 0;
     margin-left: -730px;
 }